<td>{{ date }}</td>
<td>{{ account.institution.name }}</td>
<td>{{ account.account_id }}</td>
<td>{{ type }}</td>
<td>{{ amount }}</td>
<td><select id="category">{{{ category_select_html }}}</select></td>
<td>{{ payee }}</td>
<td><a class="save">save</a></td>
